

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.product-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.product-image {
    position: relative;
}

.product-image img {
    width: 100%;
    max-width: 400px;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.thumbnails-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.thumbnails {
    display: flex;
    flex-wrap: nowrap;
    margin: 10px;
}

.thumbnails img {
    width: 80px;
    height: auto;
    cursor: pointer;
    border: 3px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    flex: 0 0 auto;
}
.thumbnails img:hover {
    border-color: #3A4980;
    border-style: groove;
}

.product-details {
    flex: 1;
}

.product-vendor {
    color: #B9BBBF;
    font-size: 16px;
}

.head {
    margin-bottom: 5px;
    width: 582px; 
    height: 64px;  
}

.product-title {
    font-size: 28px;
    color: #000000;
}

.price {
    font-size: 34px;
    font-weight: bold;
    color: #3A4980;
    margin-right: 10px;
}

.compare-at-price {
    font-size: 16px;
    color: #999;
    text-decoration: line-through;
}

.percentage-off {
    font-size: 25px;
    color: #ff0000;
    
}

.color-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-text {
    font-size: 18px;
    margin-bottom: 10px;
    color: #B9BBBF;
}

.c-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 0;
}

.size-container {
    margin-top: 20px;
    width: 497px;
    height: 64px;
    top: 445px;
    left: 778px;
    gap: 14px;
    margin-bottom: 10px;
   
}

.size-selector {

    justify-content: space-around;
    border: 1px;
    display: flex;
     flex-direction: row; 
     gap: 10px;
     border-radius: 29.5px;
     border-width: 1;
    
    
    
}

.product-action{
    height: max-content;
  margin-top: 1rem;
  display: flex;
  
  gap: 1rem;
  align-items: center;
}


.myBtn {
    height: 4rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
  
  }
  
  .counterBtn {
    width: 20%;
    background-color: rgb(236, 236, 236);
    color: rgb(1, 22, 107);
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-bottom: 15px;
    
    
  }
  
  .changeNumBtn {
    cursor: pointer;

  }


#add-to-cart-btn {
    background-color: #3A4980;
    width: 200px;
    height: 4rem;
    top: 549px;
    left: 966px;
    border-radius: 29.5px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    margin-bottom: 15px;
    
}

.fa-bag-shopping{
    margin-right: 10px;
}


.message-container {
    margin-top: 20px;
    
    
}

#add-to-cart-message {

    display: none;
    font-size: 16px;
    color: #28a745;
    
}

/* Media queries for responsiveness */
@media (min-width: 767px) {
    .product-image{
      position: relative;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
    }
}
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .product-container{
        max-width: 100%;
    }
  }
  
  @media (min-width: 1025px) {
    .product-container{
        max-width: 100%;
    }
    }
  
  

